$search-bg-color: #e5e5e5;
$icon-color: #111;
$transition: all .5s ease;
$size-100: 3em;
$size-60: $size-100*.6;
$size-40: $size-100*.4;
$size-30: $size-100*.3;
$size-20: $size-100*.2;


.SearchBar{
  z-index: 100;
  padding-top: 1em;
  width: 100%;
  position: absolute;
}

.search {
  width: $size-100;
  height: $size-100;
  background-color: $search-bg-color;
  position: relative;
  overflow: hidden;
  transition: $transition;
  &:before {
    content: '';
    display: block;
    width: 3px;
    height: 100%;
    position: relative;
    background-color: $icon-color;
    transition: $transition;
  }
  &.open {
    width: 100%;
    &:before {
      height: $size-60;
      margin: $size-20 0 $size-20 $size-30;
      position: absolute;
    }
  }
}

.search-box {
  width: 100%;
  height: 100%;
  box-shadow: none;
  border: none;
  background: transparent;
  color: #000;
  padding: $size-20 $size-100 $size-20 $size-100*.45;
  font-size: $size-40;
  &:focus {
    outline: none;
  }
}

.search-button {
  width: $size-100;
  height: $size-100;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: $size-20;
  cursor: pointer;
}

.search-icon {
  width: $size-40;
  height: $size-40;
  border-radius: $size-40;
  border: 3px solid $icon-color;
  display: block;
  position: relative;
  margin-left: 5px;
  transition: $transition;
  &:before {
    content: '';
    width: 3px;
    height: $size-100*.15;
    position: absolute;
    right: -2px;
    top: $size-30;
    display: block;
    background-color: $icon-color;
    transform: rotate(-45deg);
    transition: $transition;
  }
  &:after {
    content: '';
    width: 3px;
    height: $size-100*.15;
    position: absolute;
    right: $size-100*-.12;
    top: $size-40;
    display: block;
    background-color: $icon-color;
    transform: rotate(-45deg);
    transition: $transition;
  }
  .open & {
    margin: 0;
    width: $size-60;
    height: $size-60;
    border-radius: $size-60;
    &:before {
      transform: rotate(52deg);
      right: $size-100*.18;
      top: $size-100*.23;
      height: $size-100*.18;
    }
    &:after {
      transform: rotate(-230deg);
      right: $size-100*.18;
      top: $size-100*.13;
      height: $size-100*.18;
    }
  }
}
